* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Georgia", serif;
    font-size: 120%;
    background: white;
}

.header {
    width: 100%;
    margin: 0px 0px 0px;
    color: black;
    background: #d8d8d8;
    text-align: left;
    border-bottom: 3px solid #004C97;
    border-top: 3px solid #004C97;
    padding: 20px;
}

form, .content {
    margin-right: 200px;
    padding: 50px;
    /*border: 1px solid #004C97;
    background: white;*/
    border-radius: 0px 0px 10px 10px;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    /*border: 1px solid purple;*/
    background-color: #003865;
    overflow-x: hidden;
}

.sidebar a{
    padding: 20px;
    color: #8DC8E8;
    text-decoration: none;
    display: block;
}

.sidebar a:hover {
    background-color: #004C97;
    color: #8DC8E8;
}

.sidebar button {
    width: 100%;
    font-size: 20px;
    padding: 20px;
    background-color: white;
    color: black;
    display: block;
}

.sidebar button:hover {
    background-color: green;
    color: white;
    background-color: #004C97;
    color: #8DC8E8;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid grey;
}
.btn-group button {
    width: 20%;
    margin-left: 80px;
    margin-top: 50px;
    padding: 30px;
    color: white;
    background: #5F9EA0;
    border: 1px solid purple;
    float: left;
}
.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
}
.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #A94442;
    color: #A94442;
    background: #F2DEDE;
    border-radius: 5px;
    text-align: left;
}
.success {
    color: #3C763D;
    background: #DFF0D8;
    border: 1px solid #3C763D;
    margin-bottom: 20px;
}
